<!-- test spec -->
<tr class="spec" id="<%= id %>">
  <td><%= description %></td>
  <td class="status">
    <% if (failed == 0) { %>
      <span data-state="ready" class="label label-success">PASS</span>
    <% } else { %>
      <span data-state="ready" class="label label-danger">FAIL</span>
    <% } %>
  </td>
</tr>
<!-- test spec report -->
<tr class="report" id="Report-<%= id %>">
  <td colspan="2">
  </td>
</tr>