<div class="tx-test-suit" id="<%= suitId %>">
  <table class="table table-bordered suit">
    <thead>
      <tr>
        <th colspan="2">NovelTests</th>
      </tr>
    </thead>
    <tbody class="test-specs">
    </tbody>
  </table>
</div>