<div id="suite-views">
  <!-- a test suit table -->
  <table class="table table-bordered suite" id="suite-NovelTests">
    <!-- test suit described name -->
    <thead>
      <tr>
        <th colspan="2">NovelTests</th>
      </tr>
    </thead>

    <!-- test result -->
    <tbody>

      <!-- test spec -->
      <tr class="test-testTitle">
        <td>testTitle</td>
        <td class="status">
          <span data-state="ready" class="label label-success">PASS</span>
        </td>
      </tr>
      <!-- test spec report -->
      <tr class="report report-testTitle">
        <td colspan="2"></td>
      </tr>

      <!-- test spec -->
      <tr class="test-testAuthor">
        <td>testAuthor</td>
        <td class="status">
          <span data-state="ready" class="label label-success">PASS</span>
        </td>
      </tr>

      <!-- test spec report-->
      <tr class="report report-testAuthor">
        <td colspan="2">
          <table>
            <tbody>
	            <tr>
	              <td>onTest:</td>
	              <td><code>Error: Hello, World.</code></td>
	            </tr>
          	</tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

</div>