// @import 'assets/lib/est/all.less';

@support-old-ie: false;
@default-font-size: 14px;


html{
	overflow: hidden;
}

.title{
	color: red;
	margin-bottom: 20px;
}

.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

button:focus, .btn:focus{
	outline: none;
}

.log-line{
	border-bottom: solid 1px rgb(238, 238, 238);
	margin-bottom: 8px;
}

.tx-content{
	.panel{
		float: left;
		height: 500px;
		padding-top: 3px;
		padding-bottom: 10px;
		border: none;
		border-radius: 0px;
	}
	.left-panel{
		width: 18%;
		background: rgb(237, 231, 240);
		li a{
			border-radius: 0px;
		}
	}
	.center-panel{
		width: 51%;
		.control{
			margin-bottom: 5px;
		}
		.panel-body{
			padding-top: 0px;
		}
		.playground-container{
			height: 73%;
			width: 100%;
		}
		.default-notifier{
			height: 100%;
			text-align: center;
			p{
				color: gray;
				margin-top: 200px;
				font-weight: bold;
			}
		}
	}
	.right-panel{
		width: 31%;
	}
}


/**
 * test suit style
 */
.tx-test-suit{
	table td{
		padding: 3px;
	}
	table th{
		padding: 5px;
	}

	table.suit{
		margin: 15px 0 0 0;
	}

	table.suit td.status {
		width: 65px;
		text-align: center;
		vertical-align: middle;
	}

	.status .label{
		padding: 1px;
	}

	.suit .report td {
		background-color: #EEE;
	}

	.suit .report td table td {
		border: none;
	}
}



