<div id="TxCenterPanel" class="center-panel panel">
  <button id="TestRun" class="btn" type="button">Run</button>
  <div class="progress"> <div class="bar"> </div> </div>
  <p id="ProjectConfigText"></p>
</div>