
	<div class="row-fluid body">
 

		<div class="span2 left-panel">
			<ul> <li> 新闻资讯 </li> </ul>
		</div>


		<div class="span6 center-panel">
			<div class="row-fluid">
				<div class="span12">
					<button class="btn" type="button">按钮</button>
					<div class="progress"> <div class="bar"> </div> </div>
				</div>
			</div>
		</div>

		<div class="span4 right-panel">
			<div class="tabbable" id="tabs-923543">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-501890" data-toggle="tab">第一部分</a>
					</li>
					<li>
						<a href="#panel-646708" data-toggle="tab">第二部分</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-501890">
						<p>
							第一部分内容.
						</p>
					</div>
					<div class="tab-pane" id="panel-646708">
						<p>
							第二部分内容.
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>