<div id="TxCenterPanel" class="center-panel panel panel-default">
  <div id="TxCenterPanelNotifier" class="default-notifier">
    <h3>welcome to use testX</h3>
    <hr>
    <p>
      <span>step</span>
      <span class="number"> 0 </span>
       <span>:</span>
      read the <a href="#">about</a> .
    </p>

    <p>
      <span>step</span>
      <span class="number">1</span>
      <span>:</span>
      create a folder, write your test specs in jasmine. 
    </p>

    <p>
      <span>step</span>
      <span class="number">2</span>
       <span>:</span>
      create a <a href="#">config</a> file.
    </p>

    <p>
      <span>step</span>
      <span class="number">3</span>
       <span>:</span>
      click add-project menu and select that folder.
    </p>

    <p>
      <span>step</span>
      <span class="number">4</span>
       <span>:</span>
      Now you can have fun with the run button.
    </p>
  </div>
  <!-- control -->
  <div  class="panel-heading">
    <!-- test  platform select -->
    <span id="TxTestProgressInfo" class="run-info">something</span>
    <!-- test run button -->
    <button id="TxRun" class="btn btn-run  pull-right" type="button">
    <span class="glyphicon glyphicon-play"></span>
    run
    </button>
  </div>

  <!-- playground -->
  <div class="panel-body">
    <!-- <div class="custom-scrollbar playground-container"> -->
    <div id="TxPlayground" class="playground"></div>
    <!-- </div> -->
  </div>
</div>
<!-- <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      platform<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
          <li><a href="#">chrome</a></li>
          <li><a href="#">firefox</a></li>
          <li><a href="#">phantomJs</a></li>
      </ul>
</div> -->
<!-- test progress bar -->
<!--     <div id="TxProgressbar"  class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
    </div>
</div>
-->