<div id="TxLeftPanel" class="left-panel panel">
  <ul class="nav nav-pills nav-stacked" id="TxProjectList" style="max-width: 260px;">
  	<!-- project item -->
    <!-- <li class="active">
      <a href="#"> <span class="badge pull-right">X</span> Project one </a>
    </li>

    <li><a href="#"><span class="badge pull-right">X</span>project two</a></li>

    <li>
      <a href="#"> <span class="badge pull-right">X</span> project three </a>
    </li> -->
 </ul>
</div>