<% include header %>
<!-- content section -->
<!-- *************** -->
<section class="tx-content">
	<% include left-panel %>
	<div id="TxDashbordVsplitter" class="tx-dashboard">
		<% include center-panel %>
		<% include right-panel %>
	</div>
</section>

<%include modals.ejs %>
