<% include header %>
<!-- content section -->
<!-- *************** -->
<section class="tx-content clearfix" style="position: relative;">
	<% include left-panel %>
	<% include center-panel %>
	<% include right-panel %>
</section>
