
<!-- Modal -->
<div class="modal fade about-modal" id="AboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> What's testX?</h4>
      </div>
      <div class="modal-body">
        <p>
          testX 是一个前端单元测试工具,  其最大的特点是分离测试脚本与实际业务代码，并提供了simulate用户操作的的promise实现。   
        </p>
        <p>
          可以通过consig.json 配置所需要测试的浏览器， 测试的网址链接（也可以是本地的html地址）
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->