<div id="TxRightPanel" class="right-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title clearfix">
    	<span class="pull-left"> debug output: </span>
		<button id="TxConsoleClearTrigger" class="btn pull-right" type="button">clear</button>
    </h3>
  </div>
  <div class="panel-body custom-scrollbar">
  	<div id="TxConsole">
  	</div>
  </div>
</div>