<div id="TxRightPanel" class="right-panel panel panel-default">
  <div class="panel-heading">
    <button id="TxConsoleClearTrigger" class="btn btn-clear pull-right" type="button">
    clear</button> 
    <ul id='Tab' class="nav clearfix">
      <li class="active">
      	<a href="#Tab_Console" id="TabConsole" title="console log data from broswer" data-toggle="tab">logcat</a>
      </li>
      <li>
      	<a href="#Tab_CodeViewer" id="TabCodeViewer" title="code viewer" data-toggle="tab">&lt; / &gt;</a>
      </li>
    </ul>
  </div>
  <div class="panel-body">
	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane active" id="Tab_Console">
	  	<div class="custom-scrollbar">
		    <div id="TxConsole" class="console"></div>
	  	</div>
	  </div>

	  <div class="tab-pane" id="Tab_CodeViewer">
		<div id="TxCodeViewer" class="ace_editor">
			function foo(items) {
			    var x = "All this is syntax highlighted";
			    return x;
			}
		</div>
	  </div>
	</div>
  </div>
</div>