<div id="TxRightPanel" class="right-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">debug output:</h3>
  </div>
  <div class="panel-body" id="TxConsole">
    Panel content
  </div>
</div>