<div id="TxRightPanel" class="right-panel panel panel-default">
  <div class="panel-heading">
    	<span>console</span>
		  <button id="TxConsoleClearTrigger" class="btn btn-clear pull-right" type="button">
      clear</button>
  </div>
  <div class="panel-body custom-scrollbar">
  	<div id="TxConsole">
  	</div>
  </div>
</div>